<!-- Navigation Bar -->
<nav class="navbar">
  <div class="logo-container">
    <a href="../index.html" class="logo">NBRI <span class="highlight">Cinema</span></a>
  </div>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <ul id="navbar-links">
    <li><a href="../now-playing.html">Now Playing</a></li>
    <li><a href="../coming-soon.html">Coming Soon</a></li>
    <li class="dropdown">
      <a href="#">Genre</a>
      <div class="dropdown-content">
        <a href="#">Action</a>
        <a href="#">Adventure</a>
        <a href="#">Comedy</a>
        <a href="#">Drama</a>
        <a href="#">Fantasy</a>
        <a href="#">Horror</a>
        <a href="#">Mystery</a>
        <a href="#">Romance</a>
        <a href="#">Sci-fi</a>
        <a href="#">Thriller</a>
      </div>
    </li>
    <li><a href="../all-movie.html">All Movie</a></li>
    <li><a href="../booking.html">Book Now</a></li>
    <!-- Search Container moved outside of the list -->
    <div class="search-container">
      <input type="text" placeholder="Search..." />
      <button type="submit">Search</button>
    </div>
    <!-- Menu Profil -->
    <li class="dropdown profile-menu">
      <a href="#" class="profile-icon">
        <img src="../assets/image/profil.png" alt="Profile" />
      </a>
      <div class="dropdown-content profile-dropdown">
        <a href="#">My Account</a>
        <a href="../history.html">Riwayat</a>
        <a href="#">Logout</a>
      </div>
    </li>
  </ul>
</nav>
